* {
    font-family: "Raleway", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #000;
  }
  
  :root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 50px;
    margin: 0;
  }
  
  /* Nav */
  
  #mainNav ul {
    display: flex;
    gap: 68px;
  }
  
  #mainNav li {
    padding-top: 20px;
    border-top: 2px solid transparent;
  }
  
  #mainNav li:hover {
    border-top: 2px solid var(--main-color);
  }
  .button:hover {
    color: blue;
  }
  #mainNav a:hover {
    color: var(--main-color);
  }
  #mainNav a {
    text-decoration: none;
  }
  
  
  
  #loupe {
    display: none;
  }
  .filterBar li:hover {
    background: #DEEBFF;
}
  .headline h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 30px;
  }
  #barreRecherche {
    border: none;
    outline: none;
  }
  .filterBar {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  .filterBar ul {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 19px;
    height: 50px;
    gap: 10px;
  }
  #Eco,
  #rom,
  #Fam,
  #pep {
    display: flex;
    align-items: center;
    padding: 2px 19px;
    gap: 10px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: bolder;
  }

  
  
  .main-container {
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
  }
  #mainHeader {
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  #mainNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
 
  #logoPng {
    height: 19px;
    padding-top: 15px;
  }
  .info-group {
    display: flex;
    flex-direction: column;
  }
  .search-bar {
    display: flex;
    width: 353px;
    height: 49px;
    background: #ffffff;
    border: 1.5px solid #f2f2f2;
    border-radius: 15px;
  }
  ::placeholder {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }
  #search {
    display: flex;
  }
  .vector-wrapper {
    width: 50px;
    height: 49px;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #d9d9d9;
  }
  #vector {
    position: absolute;
    top: 15px;
    left: 17px;
    color: #000;
  }
  #submit {
    width: 132px;
    color: #fff;
    font-weight: bolder;
    font-size: 17px;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
  }
  .InfoBar {
    margin: 30px 0;
  }
  .section-title {
    font-size: 22px;
  }
  .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  .card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  
    width: 100%;
    height: 124px;
    box-sizing: border-box;
  }
  .card-rating {
    margin-bottom: 5px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-subtitle {
    margin: 2px;
  }
  .euro {
    font-weight: 700;
  }
  .neutralStar {
    color: var(--main-bg-color);
  }
  #greyStar {
    font-size: 0.75em;
  }
  
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    column-gap: 40px;

  }
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
  }
  
  /****** Hebergements ***********/
  .hebergements {
    width: 65%;
    flex-direction: column;
  }
  .hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: #f2f2f2;
    border-radius: 15px;
    width:100%;
    justify-content: center;
  }
  .hebergements-title {
    font-size: 22px;
    line-height: 19px;
    padding: 10px 0 0 30px;
  }
  .hebergements-cards .card {
    gap: 4px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    width:30%;
  }
  .hebergements-cards img{
    border: 5px solid #FFFFFF;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .hebergements-card-content {
    flex-direction: column;
    padding-left: 5px;
    margin: 7px 15px 30px 15px;
    font-size: 14px;
  }
  
  /***** Activités ***********/
  .Activités {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    height: 559.02px;
  }
  .activités-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
    height: 439px;
  }
  .activités-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
  }
  .Activités-title {
    padding-top: 30px;
  }
  .activités-cards .card{
    display: flex;
  flex-direction: column;
  width: 25%;
  }
  
  /****** Populaires ***********/
  .populaires {
    width: 32%;
  }
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
  }
  .populaires-cards .card {
    display: flex;
    margin: 33px;
    padding: 3px;
  }
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
  }
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  .Footer {
    display: flex;
    flex-direction: row;
    height: 163px;
    padding-top: 40px;
    width:100%;
  }
  .colonne-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    width: 100%;
    background: #f2f2f2;
  }
  .colonneFooter li{
    padding:5px;
  }
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media (max-width: 1024px) {
    body{
        padding:10px;
    }
    .main-container {
      padding: 0px;
    }
    .filterBar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    #mainNav li:hover {
        border-top: 2px solid var(--main-color);
        color: blue;
      }
      .button:hover {
        color: blue;
      }
      #mainNav a:hover {
        color: var(--main-color);
      }
      .filterBar li:hover {
        background: #DEEBFF;
    }
    .filter-heading {
      align-self: flex-start;
    }
    #barreRecherche {
      padding: 0;
    }
    .hebergements-and-populaires {
      flex-direction: column;
      gap: 50px;
    }
    .hebergements {
      width: 100%;
      align-items: center;
    }
    .hebergements-cards {
      width:100%;
    }
    .hebergements-cards img {
      width: 100%;
    }
    .hebergements-cards .cards{
        margin-left: 10px;
    }
    .populaires {
      width: 100%;
    }
    .card-title{
        margin: 10px;
    }
    .populaires-cards {
      display: flex;
    }
    .populaires-cards .card {
      width: 100%;
      margin: 10px;
    }
    .populaires-cards .card-title {
      font-size: 14px;
    }
    .populaires-cards .card-subtitle {
      font-size: 13px;
    }
    .Activités {
      width: 100%;
      height: 400px;
    }
    .activités-cards {
      padding: 0px;
      width: 100%;
    }
    .activités-cards .card {
      width: 100%;
    }
    .activités-cards img {
      width: 100%;
      height: 170px;
    }
    .Footer {
      height: 163px;
    }
    .colonne-footer {
      padding: 20px;
      height: 163px;
    }
  }
  
  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    body{
        padding:0px;
    }
    #mainHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 120px;
      gap: 15px;
    }
    #mainNav {
      border-bottom: 1px solid var (-- blue);
      align-items: flex-start;
    }
    nav ul {
      gap: 0px;
      width: 100%;
      align-self: stretch;
    }
    ul {
      width: 100%;
      padding: 0px;
    }
    #submit {
      width: 49px;
      font-size: 0px;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
    }
    #Eco, #rom, #Fam, #pep {
      height: 50px;
      width:120px;
    }
    #barreRecherche {
      width: 100%;
    }
    .vector-wrapper {
      width: 50px;
      height: 49px;
    }
    #search {
        width: 100%;
      }
    .search-bar {
      width: 100%;
    }
    #loupe {
      display: flex;
      position: relative;
      right: 29px;
      color: #ffffff;
      padding-top: 15px;
    }
    .infobar {
      display: flex;
      align-items: center;
      gap: 10px;
      align-self: stretch;
    }
    .filterBar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
    }
    .filterBar ul{
        padding:0px;
        justify-content: center;
    }
    .info-group {
        padding: 10px;
    }
    .hebergements-and-populaires {
      flex-direction: column-reverse;
      gap: 15px;
      width: 100%;
    }
    .hebergements-and-populaires section {
      border-radius: 0;
    }
    section.hebergements {
      background-color: #ffffff;
      padding: 0;
      width: 100%;
    }
    .hebergements-title {
      background-color: #ffffff;
    }
    .hebergements-cards {
      background-color: #ffffff;
    }
    .hebergements-cards .card {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    .hebergements-card-content{
        margin:5px;
    }
    .hebergements-cards img {
      width: 100%;
    }
    .section-title {
      width: 320px;
      padding: 10px;
    }
    .populaires {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .populaires-cards {
      flex-direction: column;
      align-items: center;
    }
    .populaires-cards .card {
      margin: 15px;
      width: 90%;
    }
    .Activités {
      width: 300px;
      padding: 16px;
    }
    .activités-cards {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .activités-cards .card {
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
    }
    .activités-cards img {
      height: 141px;
      width: 100%;
    }
    .card-title {
      padding: 0px;
      margin: 10px;
    }
    .Footer {
      flex-direction: column;
      padding-top: 720px;
      width: 100%;
      justify-content: center;
    }
    ul.colonne-footer {
      align-items: center;
    }
    div.colonne-footer {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-end;
    }
    .colonneFooterTitel {
      margin-left: 0px;
    }
    .filterBar {
      margin-bottom: 70px;
    }
  }
  