* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
nav ul{
    display:flex;
    margin: 0px 25px;
    gap: 68px;
    padding: 0px,25px, 0px, 25px ;
}
ul{
    list-style-type: none;
    padding: 4px 19px;
}

.headline h1{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;  
}
.filterBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;

    width: 173px;
    height: 50px;
}
#Eco, #rom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    
    width: 173px;
    height: 50px;  
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

#Fam{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    
    width: 134px;
    height: 50px; 
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

#pep{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;

    width: 167px;
    height: 50px;
    background: #DEEBFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}


.button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px; 
    background: var(--transparent, rgba(242, 242, 242, 0.00));
}

#Hebergement-button {
    color: var(--blue, #0065FC);
    text-align: center; 
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}
#mainHeader{
    width: 100%;
    height: 50px; 
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
 
}

#mainNav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.button:hover{
    color: blue;
}
#logoPng{
    width: 61.09px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.info-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
 #vector{
    position: sticky;
    width: 14px;
    height: 25px;
    left: 18px;
    top: 15px;
    align-items: center;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 377px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    flex: none;
    flex-grow: 0;
    z-index: 1;
}

#recherche{
    position: absolute;
    width: 50px;
    height: 49px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
border-radius: 15px 0px 0px 15px;
}
#submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;

    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    width: 250.33px;
    height: 124px;

}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    background: #F2F2F2;
    border-radius: 15px;
}
.hebergements-title{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; 
}
.hebergements-cards .card{  
    flex-direction: column;
    align-items: center;
    padding: 3px;
    gap: 4px;
    width: 250.33px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.card img {
    box-sizing: border-box;
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
 .hebergements-card-content {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
}

/***** Activités ***********/
.Activités{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;    
    width: 1340px;
    height: 559.02px; 
}
.activités-cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 1280px;
    height: 439px;
}
.activités-cards img{
    width: 297.5px;
height: 380px;
border-radius: 20px 20px 0px 0px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin: 33px;
    padding: 3px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.Footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-around;
    height: 163px;
}
.colonne-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 446.67px;
    height: 163px; 
    background: #F2F2F2;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 4px;
    }

    .hebergements {
        width: 100%;
        align-items: flex-start;
    }
    .hebergements-cards{
        gap: 30px;
    }
    .hebergements-cards .card{
        width: 210.33px;
    }
    .hebergements-cards img{
        width:210.33px;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
    }
   

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activités-cards {
        padding: 0px;
        gap: 20px;
        width: 1024px;
    }
    .activités-cards .card{
        width: 160px;
        height: 270px;
    }
    .activités-cards img{
        width:160px;
        height: 200px;
    }
    .Footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        height: 163px;   
    }
    .colonne-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 20px;
        height:163px;
        background: #F2F2F2;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .maincontent{
        margin-bottom: 675px;
    }
    #mainHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-bar{
        height: 49px;
        width: 335px;
        align-self: stretch;
        border-radius: 15px;
        border: 1px solid var(--grey, #F2F2F2);
        background: var(--white, #FFF);
    }
    .infobar{
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
    .filterBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        gap:15px;
    }
    .hebergements-title h2{
        background-color:#FFFFFF;
    }
    .hebergements-cards{
        display: flex;
        justify-content: center;
        background-color:#FFFFFF;
    }
    .hebergements-cards .card{
        justify-content: center;
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        width: 300px;
        align-self: stretch;
    }
    .hebergements-cards img{
        width: 300px;
    }
    .section-title{
        width: 300.308px;
        padding: 10px;
    }
    .populaires-cards {
        flex-direction: column;
        align-items: center; 
    }
    .populaires-cards .card{
        margin: 15px;
    }
   .Activités{
    width: 100%;
    padding:15px;
   }
    .activités-cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
    }
    .activités-cards .card{
        width:315px;
        height: 200px;
    }
    .activités-cards img{
        height: 141px;
        width:315px;
    }
   .Footer {
        flex-direction: column; 
        position: absolute;  
    }
  
   .colonne-footer {
    justify-content: flex-end;
   }
 
}
